<div class="cal-week-box" ng-class="[{'cal-day-box': vm.showTimes}, 'cal-grid-' + vm.view.days.length]" style="min-height:720px;">
  <div class="cal-row-fluid cal-row-head"
       mwl-element-dimensions="vm.dayColumnDimensions">
    <div
      class="cal-cell1"
      ng-repeat="day in vm.view.days track by $index"
      ng-class="{
        'cal-day-weekend': day.isWeekend,
        'cal-day-past': day.isPast,
        'cal-day-today': day.isToday,
        'cal-day-future': day.isFuture}"
      mwl-droppable
      on-drop="vm.eventDropped(dropData.event, day.date)"
      style="border-right: 1px solid #DEE3E5;">

      <span ng-bind="day.weekDayLabel"></span>
      <br>
      <small>
        <span
          data-cal-date
          ng-click="vm.calendarCtrl.dateClicked(day.date)"
          class="pointer"
          ng-bind="day.dayLabel">
        </span>
      </small>

    </div>

  </div>

  <div class="cal-day-panel " ng-style="{height: vm.showTimes ? (vm.dayViewHeight + 'px') : 'auto'}" style="width:100%;">

    <mwl-calendar-hour-list
      day-view-start="vm.dayViewStart"
      day-view-end="vm.dayViewEnd"
      day-view-split="vm.dayViewSplit"
      day-width="(vm.dayColumnDimensions.width - 60) / vm.view.days.length"
      view-date="vm.viewDate"
      on-timespan-click="vm.onTimespanClick"
      on-date-range-select="vm.onDateRangeSelect"
      custom-template-urls="vm.customTemplateUrls"
      cell-modifier="vm.cellModifier"
      template-scope="vm.templateScope"
      view="week"
      ng-if="vm.showTimes">
    </mwl-calendar-hour-list>

    <div class="row" ng-repeat="row in vm.view.eventRows track by $index">
      <div class="col-xs-12">
        <div class="cal-row-fluid">
          <div
            ng-repeat="eventRow in row.row track by eventRow.event.calendarEventId"
            ng-class="'cal-cell' + (vm.showTimes ? 1 : eventRow.span) + (vm.showTimes ? '' : ' cal-offset' + eventRow.offset)"
            ng-style="{
              top: vm.showTimes ? ((eventRow.top) + 'px') : 'auto',
              position: vm.showTimes ? 'absolute' : 'inherit',
              width: vm.showTimes ? ((vm.dayColumnDimensions.width - 60) / vm.view.days.length + 'px') : '',
              left: vm.showTimes ? (((vm.dayColumnDimensions.width - 60) / vm.view.days.length) * eventRow.offset) + 15 + 'px' : ''
            }">
            <!-- 发布计划 -->
            <!-- 
              ng-if="eventRow.event.calendarFlag == 3 && eventRow.event.calendarStatus == 1"
             -->
            <div
              class="day-highlight calendarFlagBg3"
              ng-if="eventRow.event.calendarFlag == 3 && eventRow.event.calendarStatus == 1"
              ng-class="[eventRow.event.cssClass, !vm.showTimes && eventRow.startsBeforeWeek ? '' : 'border-left-rounded', !vm.showTimes && eventRow.endsAfterWeek ? '' : 'border-right-rounded']"
              data-event-class
              style="border-radius: 2px;height: 49px;margin-top:4px;background: rgba(36, 161, 72, 0.15);border-left: 2px solid #4FB36C;"
              mwl-draggable="eventRow.event.draggable === true"
              axis="vm.showTimes ? 'xy' : 'x'"
              snap-grid="vm.showTimes ? {x: (vm.dayColumnDimensions.width - 60) / vm.view.days.length, y: vm.dayViewEventChunkSize || 30} : {x: vm.dayColumnDimensions.width / vm.view.days.length}"
              auto-scroll="vm.draggableAutoScroll"
              on-drag="vm.tempTimeChanged(eventRow.event, y / 30)"
              on-drag-end="vm.weekDragged(eventRow.event, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length), y / 30)"
              mwl-resizable="eventRow.event.resizable === true && eventRow.event.endsAt && !vm.showTimes"
              title="{{eventRow.event.calendarTitle}}">
              <div class="icon green-low"></div>
              <div class="calendarFlagBg_title" style="margin-top:4px;" ng-bind="eventRow.event.calendarTitle">
              </div>
              <div class="calendarFlagBg3_content">
                <span style="width:80%;" ng-bind="eventRow.event.calendarPubSub"></span>
                <span style="width:20%;float:right;" ng-bind="eventRow.event.calendarPubDate"></span>
                <a
                  href="javascript:;"
                  class="event-item-action"
                  ng-class="action.cssClass"
                  ng-repeat="action in eventRow.event.actions track by $index"
                  ng-bind-html="action.label | calendarTrustAsHtml"
                  ng-click="action.onClick({calendarEvent: eventRow.event})">
                </a>
              </div>
            </div>
            <!-- 
              ng-if="eventRow.event.calendarFlag == 3 && eventRow.event.calendarStatus == 4"
             -->
            <div
              class="day-highlight"
              ng-if="eventRow.event.calendarFlag == 3 && eventRow.event.calendarStatus == 4"
              ng-class="[eventRow.event.cssClass, !vm.showTimes && eventRow.startsBeforeWeek ? '' : 'border-left-rounded', !vm.showTimes && eventRow.endsAfterWeek ? '' : 'border-right-rounded']"
              style="border-radius: 2px;height: 49px;margin-top:4px;background: rgba(36, 161, 72, 0.15);border-left: 2px solid rgba(36, 161, 72, 0.15);"
              data-event-class
              mwl-draggable="eventRow.event.draggable === true"
              axis="vm.showTimes ? 'xy' : 'x'"
              snap-grid="vm.showTimes ? {x: (vm.dayColumnDimensions.width - 60) / vm.view.days.length, y: vm.dayViewEventChunkSize || 30} : {x: vm.dayColumnDimensions.width / vm.view.days.length}"
              auto-scroll="vm.draggableAutoScroll"
              on-drag="vm.tempTimeChanged(eventRow.event, y / 30)"
              on-drag-end="vm.weekDragged(eventRow.event, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length), y / 30)"
              mwl-resizable="eventRow.event.resizable === true && eventRow.event.endsAt && !vm.showTimes"
              title="{{eventRow.event.calendarTitle}}">
              <div class="icon green-low"></div>
              <div class="cal-year-qz-word qz-word-color1 cal-year-content-width" style="margin-top:4px;" ng-bind="eventRow.event.calendarTitle">
              </div>
              <div class="cal-year-qz-word qz-word-color1 cal-year-content-width">
                <span style="width:80%;" ng-bind="eventRow.event.calendarPubSub"></span>
                <span style="width:20%;float:right;" ng-bind="eventRow.event.calendarPubDate"></span>
                <a
                  href="javascript:;"
                  class="event-item-action"
                  ng-class="action.cssClass"
                  ng-repeat="action in eventRow.event.actions track by $index"
                  ng-bind-html="action.label | calendarTrustAsHtml"
                  ng-click="action.onClick({calendarEvent: eventRow.event})">
                </a>
              </div>
            </div>

            <!-- 任务 -->
            <!-- 
              ng-if="eventRow.event.calendarFlag == 2 && eventRow.event.calendarStatus == 1"
             -->
            <div
              class="day-highlight"
              ng-if="eventRow.event.calendarFlag == 2 && eventRow.event.calendarStatus == 1"
              ng-class="[eventRow.event.cssClass, !vm.showTimes && eventRow.startsBeforeWeek ? '' : 'border-left-rounded', !vm.showTimes && eventRow.endsAfterWeek ? '' : 'border-right-rounded']"
              style="border-radius: 2px;height: 20px;margin-top:4px;background: rgba(54, 168, 199, 0.15); border-left: 2px solid #5EB9D2;"
              data-event-class
              mwl-draggable="eventRow.event.draggable === true"
              axis="vm.showTimes ? 'xy' : 'x'"
              snap-grid="vm.showTimes ? {x: (vm.dayColumnDimensions.width - 60) / vm.view.days.length, y: vm.dayViewEventChunkSize || 30} : {x: vm.dayColumnDimensions.width / vm.view.days.length}"
              auto-scroll="vm.draggableAutoScroll"
              on-drag="vm.tempTimeChanged(eventRow.event, y / 30)"
              on-drag-end="vm.weekDragged(eventRow.event, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length), y / 30)"
              mwl-resizable="eventRow.event.resizable === true && eventRow.event.endsAt && !vm.showTimes"
              resize-edges="{left: true, right: true}"
              on-resize-end="vm.weekResized(eventRow.event, edge, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length))"
              title="{{eventRow.event.calendarTitle}}">
              <div class="icon blue-low"></div>
              <div class="calendarFlagBg_title">
                <span title="{{eventRow.event.calendarTitle}}" ng-bind="eventRow.event.calendarTitle"></span>
                <a
                  href="javascript:;"
                  class="event-item-action"
                  ng-class="action.cssClass"
                  ng-repeat="action in eventRow.event.actions track by $index"
                  ng-bind-html="action.label | calendarTrustAsHtml"
                  ng-click="action.onClick({calendarEvent: eventRow.event})">
                </a>
              </div>
            </div>
            <!-- 
              ng-if="eventRow.event.calendarFlag == 2 && eventRow.event.calendarStatus == 4"
             -->
            <div
              class="day-highlight"
              ng-if="eventRow.event.calendarFlag == 2 && eventRow.event.calendarStatus == 4"
              ng-class="[eventRow.event.cssClass, !vm.showTimes && eventRow.startsBeforeWeek ? '' : 'border-left-rounded', !vm.showTimes && eventRow.endsAfterWeek ? '' : 'border-right-rounded']"
              style="border-radius: 2px;height: 20px;margin-top:4px;background: rgba(54, 168, 199, 0.15); border-left: 2px solid rgba(54, 168, 199, 0.15);"
              data-event-class
              mwl-draggable="eventRow.event.draggable === true"
              axis="vm.showTimes ? 'xy' : 'x'"
              snap-grid="vm.showTimes ? {x: (vm.dayColumnDimensions.width - 60) / vm.view.days.length, y: vm.dayViewEventChunkSize || 30} : {x: vm.dayColumnDimensions.width / vm.view.days.length}"
              auto-scroll="vm.draggableAutoScroll"
              on-drag="vm.tempTimeChanged(eventRow.event, y / 30)"
              on-drag-end="vm.weekDragged(eventRow.event, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length), y / 30)"
              mwl-resizable="eventRow.event.resizable === true && eventRow.event.endsAt && !vm.showTimes"
              resize-edges="{left: true, right: true}"
              on-resize-end="vm.weekResized(eventRow.event, edge, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length))"
              title="{{eventRow.event.calendarTitle}}">
              <div class="icon blue-low"></div>
              <div class="cal-year-qz-word qz-word-color1 cal-year-content-width">
                <span title="{{eventRow.event.calendarTitle}}" ng-bind="eventRow.event.calendarTitle"></span>
                <a
                  href="javascript:;"
                  class="event-item-action"
                  ng-class="action.cssClass"
                  ng-repeat="action in eventRow.event.actions track by $index"
                  ng-bind-html="action.label | calendarTrustAsHtml"
                  ng-click="action.onClick({calendarEvent: eventRow.event})">
                </a>
              </div>
            </div>

            <!-- 日程 -->
            <!-- 
              ng-if="eventRow.event.calendarFlag == 1 && eventRow.event.calendarStatus == 2"
             -->
            <div
              class="day-highlight"
              ng-if="eventRow.event.calendarFlag == 1 && eventRow.event.calendarStatus == 2"
              ng-class="[eventRow.event.cssClass, !vm.showTimes && eventRow.startsBeforeWeek ? '' : 'border-left-rounded', !vm.showTimes && eventRow.endsAfterWeek ? '' : 'border-right-rounded']"
              style="border-radius: 2px;height: 20px;margin-top:4px;background: rgba(255, 154, 61, 0.15);border-left: 2px solid #FFAE63;"
              data-event-class
              mwl-draggable="eventRow.event.draggable === true"
              axis="vm.showTimes ? 'xy' : 'x'"
              snap-grid="vm.showTimes ? {x: (vm.dayColumnDimensions.width - 60) / vm.view.days.length, y: vm.dayViewEventChunkSize || 30} : {x: vm.dayColumnDimensions.width / vm.view.days.length}"
              auto-scroll="vm.draggableAutoScroll"
              on-drag="vm.tempTimeChanged(eventRow.event, y / 30)"
              on-drag-end="vm.weekDragged(eventRow.event, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length), y / 30)"
              mwl-resizable="eventRow.event.resizable === true && eventRow.event.endsAt && !vm.showTimes"
              resize-edges="{left: true, right: true}"
              on-resize-end="vm.weekResized(eventRow.event, edge, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length))"
              title="{{eventRow.event.calendarTitle}}">
              <div class="icon blue-low"></div>
              <div class="calendarFlagBg_title">
                <span title="{{eventRow.event.calendarTitle}}" ng-bind="eventRow.event.calendarTitle"></span>
                <a
                  href="javascript:;"
                  class="event-item-action"
                  ng-class="action.cssClass"
                  ng-repeat="action in eventRow.event.actions track by $index"
                  ng-bind-html="action.label | calendarTrustAsHtml"
                  ng-click="action.onClick({calendarEvent: eventRow.event})">
                </a>
              </div>
            </div>
            <!-- 
              ng-if="eventRow.event.calendarFlag == 1 && eventRow.event.calendarStatus == 4"
             -->
            <div
              class="day-highlight"
              ng-if="eventRow.event.calendarFlag == 1 && eventRow.event.calendarStatus == 4"
              ng-class="[eventRow.event.cssClass, !vm.showTimes && eventRow.startsBeforeWeek ? '' : 'border-left-rounded', !vm.showTimes && eventRow.endsAfterWeek ? '' : 'border-right-rounded']"
              style="border-radius: 2px;height: 20px;margin-top:4px;background: rgba(255, 154, 61, 0.15);border-left: 2px solid rgba(255, 154, 61, 0.15);"
              data-event-class
              mwl-draggable="eventRow.event.draggable === true"
              axis="vm.showTimes ? 'xy' : 'x'"
              snap-grid="vm.showTimes ? {x: (vm.dayColumnDimensions.width - 60) / vm.view.days.length, y: vm.dayViewEventChunkSize || 30} : {x: vm.dayColumnDimensions.width / vm.view.days.length}"
              auto-scroll="vm.draggableAutoScroll"
              on-drag="vm.tempTimeChanged(eventRow.event, y / 30)"
              on-drag-end="vm.weekDragged(eventRow.event, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length), y / 30)"
              mwl-resizable="eventRow.event.resizable === true && eventRow.event.endsAt && !vm.showTimes"
              resize-edges="{left: true, right: true}"
              on-resize-end="vm.weekResized(eventRow.event, edge, x / ((vm.dayColumnDimensions.width - (vm.showTimes ? 60 : 0)) / vm.view.days.length))"
              title="{{eventRow.event.calendarTitle}}">
              <div class="icon blue-low"></div>
              <div class="cal-year-qz-word qz-word-color1 cal-year-content-width">
                <span title="{{eventRow.event.calendarTitle}}" ng-bind="eventRow.event.calendarTitle"></span>
                <a
                  href="javascript:;"
                  class="event-item-action"
                  ng-class="action.cssClass"
                  ng-repeat="action in eventRow.event.actions track by $index"
                  ng-bind-html="action.label | calendarTrustAsHtml"
                  ng-click="action.onClick({calendarEvent: eventRow.event})">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>



