
<div class="cal-year-box">
  <div style="overflow-x: auto;">
    <div class="row cal-before-eventlist" style="float:left;display:flex;">
      <div style="min-height:720px;"
        class="span3 cal-year-div-qz cal-cell {{ day.cssClass }}"
        ng-repeat="month in vm.view"
        ng-init="monthIndex = vm.view.indexOf(month)"
        ng-click="vm.monthClicked(month, false, $event)"
        ng-style="{'width': vm.getDivQzWidth() + '%'}"
        mwl-droppable
        on-drop="vm.handleEventDrop(dropData.event, month.date)">
        <div style="width:100%;height:49px;text-align: center;padding-top: 15px;" 
          ng-class="{pointer: month.events.length > 0, 'cal-day-today': month.isToday}">
          <span data-cal-date
            ng-click="vm.calendarCtrl.dateClicked(month.date)"
            ng-bind="month.label">
          </span>
        </div>
        
        <div ng-repeat="calEvent in month.events">

        <!-- 发布计划 -->
        <div class="cal-year-hidden-point cal-year-sub-div49 cal-green-low" ng-click="vm.onEventClick({calendarEvent: calEvent})"
          ng-mousedown="$event.stopPropagation()"
          mwl-draggable="calEvent.draggable === true"
          drop-data="{event: calEvent}"
          ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 1"> 
          <div class="icon green-low"></div>
          <div class="cal-year-qz-word qz-word-color1 cal-year-content-width" style="margin-top:4px;">{{calEvent.calendarTitle}}</div>
          <div class="cal-year-qz-word qz-word-color1 cal-year-content-width">
            <span style="width:80%;">{{calEvent.calendarPubSub}}</span>
            <span style="width:20%;float:right;">{{calEvent.calendarPubDate}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div49 cal-green-low" ng-click="vm.onEventClick({calendarEvent: calEvent})"
          ng-mousedown="$event.stopPropagation()"
          mwl-draggable="calEvent.draggable === true"
          drop-data="{event: calEvent}"
          ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 4"> 
          <div class="icon green-high"></div>
          <div class="cal-year-qz-word qz-word-color2 cal-year-content-width" style="margin-top:4px;">{{calEvent.calendarTitle}}</div>
          <div class="cal-year-qz-word qz-word-color3 cal-year-content-width">
            <span style="width:80%;">{{calEvent.calendarPubSub}}</span>
            <span style="width:20%;float:right;">{{calEvent.calendarPubDate}}</span>
          </div>
        </div>

        <!-- 任务 -->
        <div class="cal-year-hidden-point cal-year-sub-div20 cal-blue-low" ng-click="vm.onEventClick({calendarEvent: calEvent})"
          ng-mousedown="$event.stopPropagation()"
          mwl-draggable="calEvent.draggable === true"
          drop-data="{event: calEvent}"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 1"> 
          <div class="icon blue-low"></div>
          <div class="cal-year-qz-word qz-word-color1 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div20 cal-red-low" ng-click="vm.onEventClick({calendarEvent: calEvent})"
          ng-mousedown="$event.stopPropagation()"
          mwl-draggable="calEvent.draggable === true"
          drop-data="{event: calEvent}"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 2"> 
          <div class="icon red-high"></div>
          <div class="cal-year-qz-word qz-word-color4 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div20 cal-blue-low" ng-click="vm.onEventClick({calendarEvent: calEvent})"
          ng-mousedown="$event.stopPropagation()"
          mwl-draggable="calEvent.draggable === true"
          drop-data="{event: calEvent}"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 4"> 
          <div class="icon blue-high"></div>
          <div class="cal-year-qz-word qz-word-color2 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <!-- 日程 -->
        <div class="cal-year-sub-div20 cal-ori-low cal-year-hidden-point" ng-click="vm.onEventClick({calendarEvent: calEvent})"
          ng-mousedown="$event.stopPropagation()"
          mwl-draggable="calEvent.draggable === true"
          drop-data="{event: calEvent}"
          ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 2"> 
          <div class="icon ori-low"></div>
          <div class="cal-year-qz-word qz-word-color1 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-sub-div20 cal-ori-low cal-year-hidden-point" ng-click="vm.onEventClick({calendarEvent: calEvent})"
          ng-mousedown="$event.stopPropagation()"
          mwl-draggable="calEvent.draggable === true"
          drop-data="{event: calEvent}"
          ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 4"> 
          <div class="icon ori-high"></div>
          <div class="cal-year-qz-word qz-word-color2 cal-year-content-width" >
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        </div>

      </div>
    </div>

  </div>

</div>