<div style="height:59px;position: relative;">
    <div style="float:left;width:62px;height: 100%;border: solid 1px #e1e1e1;border-right: 0px;border-bottom: 0px;padding-top: 20px;" 
      align="center"><strong>全天</strong>
    </div>
    <div style="float:left;width:calc(100% - 102px);height: 100%;border: solid 1px #e1e1e1;border-bottom: 0px;">
      <div ng-repeat="calEvent in vm.allDayEvents" class="year-day-col-md-2 year-day-item-line" >

        <!-- 发布计划 -->
        <div class="cal-year-hidden-point cal-year-sub-div49 cal-green-low year-day-col-md-12" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 1"> 
          <div class="icon green-low"></div>
          <div class="cal-year-qz-word qz-word-color1 cal-year-content-width" style="margin-top:4px;">{{calEvent.calendarTitle}}</div>
          <div class="cal-year-qz-word qz-word-color1 cal-year-content-width">
            <span style="width:80%;" title="{{calEvent.calendarPubSub}}">{{calEvent.calendarPubSub}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div49 cal-green-low year-day-col-md-12" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 4"> 
          <div class="icon green-high"></div>
          <div class="cal-year-qz-word qz-word-color2 cal-year-content-width" style="margin-top:4px;">{{calEvent.calendarTitle}}</div>
          <div class="cal-year-qz-word qz-word-color3 cal-year-content-width">
            <span style="width:80%;" title="{{calEvent.calendarPubSub}}">{{calEvent.calendarPubSub}}</span>
          </div>
        </div>

        <!-- 任务 -->
        <div class="cal-year-hidden-point cal-year-sub-div49 cal-blue-low year-day-col-md-12" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 1"> 
          <div class="icon blue-low"></div>
          <div class="cal-year-qz-content qz-word-color1 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div49 cal-red-low year-day-col-md-12" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 2"> 
          <div class="icon red-high"></div>
          <div class="cal-year-qz-content qz-word-color4 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div20 cal-blue-low year-day-col-md-12" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 4"> 
          <div class="icon blue-high"></div>
          <div class="cal-year-qz-content qz-word-color2 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <!-- 日程 -->
        <div class="cal-year-sub-div49 cal-ori-low cal-year-hidden-point year-day-div-width18"
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 2"> 
          <div class="icon ori-low"></div>
          <div class="cal-year-qz-content qz-word-color1 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-sub-div49 cal-ori-low cal-year-hidden-point year-day-col-md-12" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 4"> 
          <div class="icon ori-high"></div>
          <div class="cal-year-qz-content qz-word-color2 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>


      </div>


    </div>

    <div style="float:left;width:40px;height: 100%;border: solid 1px #e1e1e1;border-left: 0px;border-bottom: 0px;" 
      ng-if="vm.allDayEvents.length>6"
      align="center" class="myShowClass">
      <div class="year-more-button myShowClass" ng-click="vm.showAllDayOver()"><strong>...</strong></div>
    </div>
    <div class="showAllDayEventTips myShowClass" ng-show="vm.showAllDayEventTips">

      <div ng-repeat="calEvent in vm.allDayEvents  | limitTo: (6 - vm.allDayEvents.length)">

        <!-- 发布计划 -->
        <div class="cal-year-hidden-point cal-year-sub-div49 cal-green-low year-day-div-width365" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 1"> 
          <div class="icon green-low"></div>
          <div class="cal-year-qz-word qz-word-color1 cal-year-content-width" style="margin-top:4px;">{{calEvent.calendarTitle}}</div>
          <div class="cal-year-qz-word qz-word-color1 cal-year-content-width">
            <span style="width:80%;" title="{{calEvent.calendarPubSub}}">{{calEvent.calendarPubSub}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div49 cal-green-low year-day-div-width365" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 4"> 
          <div class="icon green-high"></div>
          <div class="cal-year-qz-word qz-word-color2 cal-year-content-width" style="margin-top:4px;">{{calEvent.calendarTitle}}</div>
          <div class="cal-year-qz-word qz-word-color3 cal-year-content-width">
            <span style="width:80%;" title="{{calEvent.calendarPubSub}}">{{calEvent.calendarPubSub}}</span>
          </div>
        </div>

        <!-- 任务 -->
        <div class="cal-year-hidden-point cal-year-sub-div20 cal-blue-low year-day-div-width365 year-day-div-height49" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 1"> 
          <div class="icon blue-low"></div>
          <div class="cal-year-qz-content qz-word-color1 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div20 cal-red-low year-day-div-width365 year-day-div-height49" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 2"> 
          <div class="icon red-high"></div>
          <div class="cal-year-qz-content qz-word-color4 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-hidden-point cal-year-sub-div20 cal-blue-low year-day-div-width365" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 4"> 
          <div class="icon blue-high"></div>
          <div class="cal-year-qz-content qz-word-color2 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <!-- 日程 -->
        <div class="cal-year-sub-div20 cal-ori-low cal-year-hidden-point year-day-div-width365 year-day-div-height49"
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 2"> 
          <div class="icon ori-low"></div>
          <div class="cal-year-qz-content qz-word-color1 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>

        <div class="cal-year-sub-div20 cal-ori-low cal-year-hidden-point year-day-div-width365 year-day-div-height49" 
          ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
          ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 4"> 
          <div class="icon ori-high"></div>
          <div class="cal-year-qz-content qz-word-color2 cal-year-content-width">
            <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
          </div>
        </div>


      </div>


    </div>
</div>
<div class="cal-day-box">
  <div class="cal-day-panel " ng-style="{height: vm.dayViewHeight + 'px', minWidth: vm.viewWidth + 'px'}">
    <mwl-calendar-hour-list
      day-view-start="vm.dayViewStart"
      day-view-end="vm.dayViewEnd"
      day-view-split="vm.dayViewSplit"
      on-timespan-click="vm.onTimespanClick"
      on-date-range-select="vm.onDateRangeSelect"
      on-event-times-changed="vm.onEventTimesChanged"
      view-date="vm.viewDate"
      custom-template-urls="vm.customTemplateUrls"
      template-scope="vm.templateScope"
      cell-modifier="vm.cellModifier"
      view="day">
    </mwl-calendar-hour-list>

    <div
      class="pull-left day-event day-highlight"
      ng-repeat="dayEvent in vm.nonAllDayEvents track by dayEvent.event.calendarEventId"
      ng-class="dayEvent.event.cssClass"
      ng-style="{
        top: dayEvent.top - 1 + 'px',
        left: dayEvent.left +  vm.dayViewTimePositionOffset + 'px',
        height: dayEvent.height + 'px',
        width: dayEvent.width + 'px',
        backgroundColor: dayEvent.event.color.secondary
      }"
      mwl-draggable="dayEvent.event.draggable === true"
      axis="'xy'"
      snap-grid="{y: vm.dayViewEventChunkSize || 30, x: 50}"
      on-drag="vm.eventDragged(dayEvent.event, y / (vm.dayViewSegmentSize || 30))"
      on-drag-end="vm.eventDragComplete(dayEvent.event, y / (vm.dayViewSegmentSize ||  30))"
      auto-scroll="vm.draggableAutoScroll"
      mwl-resizable="dayEvent.event.resizable === true && dayEvent.event.endsAt"
      resize-edges="{top: true, bottom: true}"
      on-resize="vm.eventResized(dayEvent.event, edge, y / (vm.dayViewSegmentSize || 30))"
      on-resize-end="vm.eventResizeComplete(dayEvent.event, edge, y / (vm.dayViewSegmentSize || 30))"
      uib-tooltip-html="vm.calendarEventTitle.dayViewTooltip(dayEvent.event) | calendarTrustAsHtml"
      tooltip-append-to-body="true">
    
      <span class="cal-hours">
        <span ng-bind="(dayEvent.event.tempStartsAt || dayEvent.event.startsAt) | calendarDate:'time':true"></span>
        ~
        <span ng-bind="(dayEvent.event.tempStartsAt || dayEvent.event.endsAt) | calendarDate:'time':true"></span>
      </span>
      <a
        href="javascript:;"
        class="event-item"
        ng-click="vm.onEventClick({calendarEvent: dayEvent.event})">
        <span ng-bind-html="vm.calendarEventTitle.dayView(dayEvent.event) | calendarTrustAsHtml"></span>
      </a>

      <a ng-show="true"
        href="javascript:;"
        class="event-item-action"
        ng-repeat="action in dayEvent.event.actions track by $index"
        ng-class="action.cssClass"
        ng-bind-html="action.label | calendarTrustAsHtml"
        ng-click="action.onClick({calendarEvent: dayEvent.event})">
      </a>

      <span style="word-break: normal;width: 100%;display: block;margin-top: 12px;word-wrap: break-word;overflow: hidden ">
        <span ng-show="dayEvent.event.calendarTitle" title="{{dayEvent.event.calendarTitle}}" 
          style="color: #2F3E4B;font-weight: 600;">
          {{dayEvent.event.calendarTitle}}
        </span>
        <br><br>
        <span ng-show="dayEvent.event.calendarTitle" title="{{dayEvent.event.calendarPubSub}}"
          style="color: #2F3E4B;font-weight: 400;">
          {{dayEvent.event.calendarPubSub}}
        </span>
      </span>


    </div>

  </div>

</div>
