<div class="cal-week-box" ng-class="[{'cal-day-box': vm.showTimes}, 'cal-grid-' + vm.view.days.length]">
  <div class="cal-row-fluid cal-row-head" style="text-overflow: ellipsis; margin-bottom: 0px;"
       mwl-element-dimensions="vm.dayColumnDimensions">
    <div
      style="padding-left: 5px; padding-right: 5px;"
      class="cal-cell1 cell-week-head"
      ng-repeat="day in vm.view.days track by $index"
      ng-class="{
        'cal-day-weekend': day.isWeekend,
        'cal-day-past': day.isPast,
        'cal-day-future': day.isFuture}"
      mwl-droppable
      on-drop="vm.eventDropped(dropData.event, day.date)">
  
      <div ng-bind="day.weekDayLabel" ng-class="{'today': day.isToday}"></div>
  
    </div>
  
  </div>

  <div class="cal-row-fluid cal-row-head" style="text-overflow: ellipsis; min-height: 720px; margin-bottom: 0px;"
    mwl-element-dimensions="vm.dayColumnDimensions">
    <div
      ng-repeat="day in vm.view.days track by $index"
      class="cell-week-head"
      ng-class="{
        'cal-day-weekend': day.isWeekend,
        'cal-day-past': day.isPast,
        'cal-day-future': day.isFuture}"
      mwl-droppable
      on-drop="vm.eventDropped(dropData.event, day.date)">
      <div class="cal-row-fluid cal-cell1 cal-row-head" 
        style="text-overflow: ellipsis; min-height: 720px; padding: 4px; margin-bottom: 0px; border-left: 1px solid #DEE3E5; border-bottom: 1px solid #DEE3E5;"
        mwl-element-dimensions="vm.dayColumnDimensions">
        <div style="height: 100%">
         <div ng-if="day.calendarFlag == 3" style="height: 49px;background: rgba(36, 161, 72, 0.15);border-radius: 2px;margin-top:4px;"> 
           <div style="background: rgba(36, 161, 72, 0.15);border-radius: 2px 0px 0px 2px;width: 2px;height: 49px;float:left;"></div>
           <div class="cal-year-qz-word qz-word-color1" style="float:left;padding-left:8px;padding-top:4px;">calendarTitle</div>
           <div class="cal-year-qz-word qz-word-color1" style="float:left;padding-left:8px;padding-top:4px;">标准补丁/5人·天</div>
         </div>
         <div style="height: 49px;background: rgba(36, 161, 72, 0.15);border-radius: 2px;margin-top:4px;"> 
           <div style="background: #4FB36C;border-radius: 2px 0px 0px 2px;width: 2px;height: 49px;float:left;"></div>
           <div class="cal-year-qz-word qz-word-color2" style="float:left;padding-left:8px;padding-top:4px;">SHTERM/3.3.5…</div>
           <div class="cal-year-qz-word qz-word-color3" style="float:left;padding-left:8px;padding-top:4px;">标准补丁/5人·天</div>
         </div>
         <div style="height: 20px;background: rgba(54, 168, 199, 0.15);border-radius: 2px;margin-top:4px;"> 
           <div style="background: rgba(54, 168, 199, 0.15);border-radius: 2px 0px 0px 2px;width: 2px;height: 20px;float:left;"></div>
           <div class="cal-year-qz-word qz-word-color1" style="float:left;padding-left:8px;">0:10 服务-产品部署</div>
         </div>
         <div ng-if="day.calendarFlag == 2" style="height: 20px;background: rgba(54, 168, 199, 0.15);border-radius: 2px;margin-top:4px;"> 
           <div style="background: #5EB9D2;border-radius: 2px 0px 0px 2px;width: 2px;height: 20px;float:left;"></div>
           <div class="cal-year-qz-word qz-word-color2" style="float:left;padding-left:8px;">14:00 实施-产品巡检</div>
         </div>
         <div ng-if="day.calendarFlag == 1" style="height: 20px;background: rgba(255, 154, 61, 0.15);border-radius: 2px;margin-top:4px;text-overflow: ellipsis;white-space: normal;overflow: hidden;"> 
           <div style="background: #FFAE63;border-radius: 2px 0px 0px 2px;width: 2px;height: 20px;float:left;"></div>
           <div class="cal-year-qz-word qz-word-color1" style="float:left;padding-left:8px;width: calc(100% - 2px);">
             <span title="部门周会今天下午四点召开，请各位及时参加">部门周会今天下午四点召开，请各位及时参加</span>
           </div>
           <div class="cal-year-qz-word qz-word-color1" style="float:left;padding-left:8px;padding-top:4px;">SHTERM/3.3.5…</div>
           <div class="cal-year-qz-word qz-word-color1" style="float:left;padding-left:8px;padding-top:4px;">标准补丁/5人·天</div>
         </div>
        </div>
      </div>
      
    </div>
  
  </div>

</div>
