<div class="cal-slide-box" ng-if="vm.rowIndex != undefined && vm.colIndex != undefined" ng-class="['row-' + vm.rowIndex,  'col-' + vm.colIndex % 7]" uib-collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed">
  <div class="cal-slide-content cal-event-list">
    <ul class="unstyled list-unstyled">
      <div class="month-label" ng-bind="vm.label"></div>
      <li
        ng-repeat="event in vm.events | orderBy:'startsAt' track by event.calendarEventId"
        ng-class="event.cssClass"
        ng-mousedown="$event.stopPropagation()"
        mwl-draggable="event.draggable === true"
        drop-data="{event: event}"
        auto-scroll="vm.draggableAutoScroll">

          <!-- 发布计划 -->
          <div class="data-cal-events-1 published" 
            mwl-draggable="event.draggable === true"
            drop-data="{event: event, draggedFromDate: day.date.toDate()}"
            auto-scroll="vm.draggableAutoScroll"
            ng-click="vm.onEventClick({calendarEvent: event, eventEl : $event})"
            ng-if="event.calendarFlag == 3 && event.calendarStatus == 1"> 
            <div class="cal-events-title">
              <span class="icon"></span>
              <div class="cal-events-title" title="{{event.title}}" ng-bind-html="event.calendarTitle | calendarTrustAsHtml"></div>
            </div>
            <div class="cal-events-content">
              <span title="{{event.calendarPubSub}}" ng-bind="event.calendarPubSub"></span>
              <span class="pull-right" title="{{event.calendarPubDate}}" ng-bind="event.calendarPubDate"></span>
            </div>
        </div>

        <div class="data-cal-events-1 normal" 
            mwl-draggable="event.draggable === true"
            drop-data="{event: event, draggedFromDate: day.date.toDate()}"
            auto-scroll="vm.draggableAutoScroll"
            ng-click="vm.onEventClick({calendarEvent: event, eventEl : $event})"
            ng-if="event.calendarFlag == 3 && event.calendarStatus == 4"> 
            <div class="cal-events-title" title="{{event.title}}" ng-bind-html="event.calendarTitle | calendarTrustAsHtml"></div>
            <div class="cal-events-content">
              <span title="{{event.calendarPubSub}}" ng-bind="event.calendarPubSub"></span>
              <span class="pull-right" title="{{event.calendarPubDate}}" ng-bind="event.calendarPubDate"></span>
            </div>
        </div>

        <!-- 任务 -->
        <div class="data-cal-events-2 expired-finished" 
            mwl-draggable="event.draggable === true"
            drop-data="{event: event, draggedFromDate: day.date.toDate()}"
            auto-scroll="vm.draggableAutoScroll"
            ng-click="vm.onEventClick({calendarEvent: event})"
            ng-if="event.calendarFlag == 2 && event.calendarStatus == 1"> 
            <span class="icon"></span>
            <div class="cal-events-title">
              <span title="{{event.title}}" ng-bind-html="event.calendarTitle | calendarTrustAsHtml"></span>
            </div>
        </div>

        <div class="data-cal-events-2 expired-unfinished"
            mwl-draggable="event.draggable === true" 
            drop-data="{event: event, draggedFromDate: day.date.toDate()}"
            auto-scroll="vm.draggableAutoScroll"
            ng-click="vm.onEventClick({calendarEvent: event})"
            ng-if="event.calendarFlag == 2 && event.calendarStatus == 2"> 
            <span class="icon"></span>
            <div class="cal-events-title">
              <span title="{{event.title}}" ng-bind-html="event.calendarTitle | calendarTrustAsHtml"></span>
            </div>
        </div>

        <div class="data-cal-events-2 expiring" 
            mwl-draggable="event.draggable === true"
            drop-data="{event: event, draggedFromDate: day.date.toDate()}"
            auto-scroll="vm.draggableAutoScroll"
            ng-click="vm.onEventClick({calendarEvent: event})"
            ng-if="event.calendarFlag == 2 && event.calendarStatus == 4"> 
            <span class="icon"></span>
            <div class="cal-events-title">
              <span title="{{event.title}}" ng-bind-html="event.calendarTitle | calendarTrustAsHtml"></span>
            </div>
        </div>

        <!-- 日程 -->
        <div class="data-cal-events-3 expired"
          mwl-draggable="event.draggable === true"
          drop-data="{event: event, draggedFromDate: day.date.toDate()}"
          auto-scroll="vm.draggableAutoScroll"
          ng-click="vm.onEventClick({calendarEvent: event})"
          ng-if="event.calendarFlag == 1 && event.calendarStatus == 2"> 
          <span class="icon"></span>
          <div class="cal-events-title">
            <span title="{{event.title}}" ng-bind-html="event.calendarTitle | calendarTrustAsHtml"></span>
          </div>
        </div>

        <div class="data-cal-events-3 normal" 
          mwl-draggable="event.draggable === true"
          drop-data="{event: event, draggedFromDate: day.date.toDate()}"
          auto-scroll="vm.draggableAutoScroll"
          ng-click="vm.onEventClick({calendarEvent: event})"
          ng-if="event.calendarFlag == 1 && event.calendarStatus == 4"> 
          <span class="icon"></span>
          <div class="cal-events-title">
            <span title="{{event.title}}" ng-bind-html="event.calendarTitle | calendarTrustAsHtml"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
