<div
  mwl-droppable
  on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)"
  mwl-drag-select="!!vm.onDateRangeSelect"
  on-drag-select-start="vm.onDragSelectStart(day)"
  on-drag-select-move="vm.onDragSelectMove(day)"
  on-drag-select-end="vm.onDragSelectEnd(day)"
  class="cal-month-day {{ day.cssClass }}"
  ng-click="$event.stopPropagation();(!day.events || day.events.length == 0) && vm.dayClicked(day, false, $event)"
  ng-class="{
    'cal-day-outmonth': !day.inMonth,
    'cal-day-inmonth': day.inMonth,
    'cal-day-weekend': day.isWeekend,
    'cal-day-past': day.isPast,
    'cal-day-future': day.isFuture,
    'cal-day-selected': vm.dateRangeSelect && vm.dateRangeSelect.startDate <= day.date && day.date <= vm.dateRangeSelect.endDate,
    'cal-day-open': dayIndex === vm.openDayIndex
  }">
  <div class="top-area">
      <span
        class="pull-left"
        data-cal-date
        ng-click="vm.calendarCtrl.dateClicked(day.date)"
        ng-bind="day.label">
      </span>     
    
    <div ng-repeat="calEvent in day.events | orderBy:'startsAt' track by calEvent.calendarEventId" ng-if="day.inMonth" class="data-cal-events">
        <!-- 发布计划 -->
      <div class="data-cal-events-1 published" 
        mwl-draggable="calEvent.draggable === true"
        drop-data="{event: calEvent, draggedFromDate: day.date.toDate()}"
        auto-scroll="vm.draggableAutoScroll"
        ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
        ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 1"> 
        <div class="cal-events-title">
          <span class="icon"></span>
          <div class="cal-events-title" title="{{calEvent.title}}" ng-bind-html="calEvent.calendarTitle | calendarTrustAsHtml"></div>
        </div>
        <div class="cal-events-content">
          <span title="{{calEvent.calendarPubSub}}" ng-bind="calEvent.calendarPubSub"></span>
          <span class="pull-right" title="{{calEvent.calendarPubDate}}" ng-bind="calEvent.calendarPubDate"></span>
        </div>
      </div>

      <div class="data-cal-events-1 normal" 
        mwl-draggable="calEvent.draggable === true"
        drop-data="{event: calEvent, draggedFromDate: day.date.toDate()}"
        auto-scroll="vm.draggableAutoScroll"
        ng-click="vm.onEventClick({calendarEvent: calEvent, eventEl : $event})"
        ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 4"> 
        <div class="cal-events-title" title="{{calEvent.title}}" ng-bind-html="calEvent.calendarTitle | calendarTrustAsHtml"></div>
        <div class="cal-events-content">
          <span title="{{calEvent.calendarPubSub}}" ng-bind="calEvent.calendarPubSub"></span>
          <span class="pull-right" title="{{calEvent.calendarPubDate}}" ng-bind="calEvent.calendarPubDate"></span>
        </div>
      </div>

      <!-- 任务 -->
      <div class="data-cal-events-2 expired-finished" 
        mwl-draggable="calEvent.draggable === true"
        drop-data="{event: calEvent, draggedFromDate: day.date.toDate()}"
        auto-scroll="vm.draggableAutoScroll"
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 1"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.title}}" ng-bind-html="calEvent.calendarTitle | calendarTrustAsHtml"></span>
        </div>
      </div>

      <div class="data-cal-events-2 expired-unfinished"
        mwl-draggable="calEvent.draggable === true" 
        drop-data="{event: calEvent, draggedFromDate: day.date.toDate()}"
        auto-scroll="vm.draggableAutoScroll"
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 2"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.title}}" ng-bind-html="calEvent.calendarTitle | calendarTrustAsHtml"></span>
        </div>
      </div>

      <div class="data-cal-events-2 expiring" 
        mwl-draggable="calEvent.draggable === true"
        drop-data="{event: calEvent, draggedFromDate: day.date.toDate()}"
        auto-scroll="vm.draggableAutoScroll"
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 4"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.title}}" ng-bind-html="calEvent.calendarTitle | calendarTrustAsHtml"></span>
        </div>
      </div>

      <!-- 日程 -->
      <div class="data-cal-events-3 expired"
        mwl-draggable="calEvent.draggable === true"
        drop-data="{event: calEvent, draggedFromDate: day.date.toDate()}"
        auto-scroll="vm.draggableAutoScroll"
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 2"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.title}}" ng-bind-html="calEvent.calendarTitle | calendarTrustAsHtml"></span>
        </div>
      </div>

      <div class="data-cal-events-3 normal" 
        mwl-draggable="calEvent.draggable === true"
        drop-data="{event: calEvent, draggedFromDate: day.date.toDate()}"
        auto-scroll="vm.draggableAutoScroll"
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 4"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.title}}" ng-bind-html="calEvent.calendarTitle | calendarTrustAsHtml"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="triangle-down" ng-if="day.events && day.events.length > 0" ng-click="$event.stopPropagation();vm.dayClicked(day, false, $event)"></div>

</div>
