<div
  mwl-droppable
  show-more
  on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)"
  mwl-drag-select="!!vm.onDateRangeSelect"
  on-drag-select-start="vm.onDragSelectStart(day)"
  on-drag-select-move="vm.onDragSelectMove(day)"
  on-drag-select-end="vm.onDragSelectEnd(day)"
  class="cal-month-day {{ day.cssClass }}"
  ng-class="{
    'cal-day-outmonth': !day.inMonth,
    'cal-day-inmonth': day.inMonth,
    'cal-day-weekend': day.isWeekend,
    'cal-day-past': day.isPast,
    'cal-day-future': day.isFuture,
    'cal-day-selected': vm.dateRangeSelect && vm.dateRangeSelect.startDate <= day.date && day.date <= vm.dateRangeSelect.endDate,
    'cal-day-open': dayIndex === vm.openDayIndex
  }">

  <div id="overlay-{{dayIndex}}">
    <span
      class="pull-left"
      data-cal-date
      ng-click="vm.calendarCtrl.dateClicked(day.date)"
      ng-bind="day.label">
    </span>     
    <div ng-repeat="calEvent in day.events" ng-if="day.inMonth" class="data-cal-events">
        <!-- 发布计划 -->
      <div class="data-cal-events-1 published" 
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 1 && calEvent.show"> 
        <div class="cal-events-title">
          <span class="icon"></span>
          {{calEvent.calendarTitle}}
        </div>
        <div class="cal-events-content">
          <span title="{{calEvent.calendarPubSub}}">{{calEvent.calendarPubSub}}</span>
        </div>
      </div>

      <div class="data-cal-events-1 normal" 
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 3 && calEvent.calendarStatus == 4  && calEvent.show"> 
        <div class="cal-events-title">{{calEvent.calendarTitle}}</div>
        <div class="cal-events-content">
          <span title="{{calEvent.calendarPubSub}}">{{calEvent.calendarPubSub}}</span>
        </div>
      </div>

      <!-- 任务 -->
      <div class="data-cal-events-2 expired-unfinished" 
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 1  && calEvent.show"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
        </div>
      </div>

      <div class="data-cal-events-2 expired-finished" 
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 2  && calEvent.show"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
        </div>
      </div>

      <div class="data-cal-events-2 expiring" ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 2 && calEvent.calendarStatus == 4  && calEvent.show"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
        </div>
      </div>

      <!-- 日程 -->
      <div class="data-cal-events-3 expired"
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 2  && calEvent.show"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
        </div>
      </div>

      <div class="data-cal-events-3 normal" 
        ng-click="vm.onEventClick({calendarEvent: calEvent})"
        ng-if="calEvent.calendarFlag == 1 && calEvent.calendarStatus == 4  && calEvent.show"> 
        <span class="icon"></span>
        <div class="cal-events-title">
          <span title="{{calEvent.calendarTitle}}">{{calEvent.calendarTitle}}</span>
        </div>
      </div>
    </div>
  </div>

  <span class="triangle-down" ng-if="more" ng-click="vm.showDetails(dayIndex)"></span>

</div>
