.cal-year-hidden-point {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    cursor: pointer;
}
.cal-year-content-width {
    float:left;
    padding-left:8px;
    width: calc(100% - 2px);
}

.cal-year-sub-div49 {
    height: 49px;
    border-radius: 2px;
    margin-top:4px;
    .icon {
        border-radius: 2px 0px 0px 2px;
        width: 2px;
        height: 49px;
        float:left;
    }
    .green-low {
        background: rgba(36, 161, 72, 0.15);
    }
    .green-high {
        background: #4FB36C;
    }
}
.cal-green-low {
    background: rgba(36, 161, 72, 0.15);
}
.cal-green-low:hover {
    background: #4FB36C;
    div {
        color: #FFFFFF;
    }
}
.cal-ori-low {
    background: rgba(255, 154, 61, 0.15);
}
.cal-ori-low:hover {
    background: #FFAE63;
}
.cal-blue-low {
    background: rgba(54, 168, 199, 0.15);
}
.cal-blue-low:hover {
    background: #5EB9D2;
}
.cal-red-low {
    background: rgba(251, 105, 99, 0.15);
}

.cal-year-sub-div20 {
    height: 20px;
    border-radius: 2px;
    margin-top:4px;
    .icon {
        border-radius: 2px 0px 0px 2px;
        width: 2px;
        height: 20px;
        float:left;
    }
    .ori-high {
        background: #FFAE63;
    }
    .ori-low {
        background: rgba(255, 154, 61, 0.15);
    }
    .blue-low {
        background: rgba(54, 168, 199, 0.15);
    }
    .blue-high {
        background: #5EB9D2;
    }
    .red-high {
        background: #FB6963;
    }
    :hover {
        color: #FFFFFF;
    }
}
